torch==2.5.1
accelerate==1.10.0
einops==0.6.1
matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
scipy==1.15.3
tqdm==4.65.0
peft==0.17.0
transformers==4.55.0
flash-attn==2.7.3
deepspeed==0.17.5
sentencepiece==0.2.0
gputil==1.4.0
h5py==3.11.0
obspy==1.4.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
timm==1.0.19